.App {
  float: left;
  width: 70%;
  min-height: 100%;
  margin-left: 5%;
  font-family: "Rubik", sans-serif !important;
}

.SideNav {
  float: left;
  width: 15%;
  height: 100vh;
  background-color: #818716 !important;
}

.JobBoard {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-family: "Rubik", sans-serif !important;
}

.welcomeMessage {
  padding-top: 8vh;
  margin-bottom: 3rem;
  font-family: "Rubik", sans-serif !important;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.btn-filter {
  background-color: #E3EAC4 !important;
}

.btn-apply {
  background-color: #818716 !important;
  color: white !important;
}

.jobCardList {
  margin-top: 3rem;
  overflow-y: auto;
  max-height: 70vh;
  font-family: "Rubik", sans-serif !important;
}

.material-symbols-outlined {
  vertical-align: middle;
  padding: 3px;
}
